header {
    height: 70px;
    position: fixed;
    display: flex;
    margin-left: 70px;
    background-color: white;
}

header img:nth-child(1){
    width: 100px;
    height: 34px;
    margin-left: 24px;
    margin-top: 18px;
}

header img:nth-child(2){
    width: 24px;
    height: 24px;
    margin-left: 144px;
    margin-top: 23px;
}

header img:nth-child(3){
    width: 244px;
    height: 36px;
    margin-left: 666px;
    margin-top: 17px;
}

header img:nth-child(4){
    width: 143px;
    height: 38px;
    margin-left: 18px;
    margin-top: 16px;
}

.ibm-plex {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.sidebar {
    position: fixed;
    display: block;
    width: 70px;
    height: 200px;
    background-color: #0D28A6;
}

.sidebar .nav-logo {
    margin-left: 18px;
    margin-top: 18px;
}

.sidebar .menu{
    margin-top: 18px;
}

.sidebar .menu img{
    width: 70px;
    height: 64px;
}

.sidebar-menu{
    width: 220px;
    margin-left: 70px;
    margin-top: 70px;
    position: fixed;
    gap: 10px;
}

.sidebar-menu .menu{
   margin-top: 24px;
   display:grid;
   gap: 35px;
}

.sidebar-menu a{
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    color: #151515;
}

.bc{
    width: auto;
    height: 18px;
    position:absolute;
    margin-top: 102px;
    margin-left:315px;
}

.list-car-text{
    width: auto;
    height: 30px;
    position: absolute;
    margin-left: 315px;
    margin-top: 147px;
}

.list-car-text h1{
    font-size: 20px;
    font-weight: bold;
}

.type-list {
    width: auto;
    height: 36px;
    position: absolute;
    display: flex;
    margin-top: 201px;
    margin-left: 315px;
    gap: 16px;
}

.type-list a{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #151515;
    padding: 8px 12px 8px 12px;
    border: 1px solid #AEB7E1;
}

.button-add-new-car{
    width: 140px;
    height: 36px;
    position: absolute;
    display: flex;
    margin-top: 144px;
    margin-left: 1274px;
    background-color: #0D28A6;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 2px;
}

.button-add-new-car img{
    width: 18px;
    height: 18px;
}

.button-add-new-car h1{
    font-size: 14px;
    color: white;
}

/* Add Button Animation */
@keyframes dissolveAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .dissolve {
    animation-name: dissolveAnimation;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }
  
  /*  */